In [1]:
#Imports
from faker import Faker
import pandas as pd
#from laundromat.spacy.spacy_model import SpacyModel
from faker.providers.credit_card import Provider as CreditCardProvider #Add creditcards to faker

Task 1:
Create a dataframe with 100 fake persons.

In [2]:
#Create a faker with norwegian Names and structures

fake = Faker(['no_NO'])

In [9]:
#Create a empty dataframe
df = pd.DataFrame(columns=[ 'Navn', 'Adresse', 'PersonNr', 'CreditCard', 'ipv4'])

In [10]:
df.head()

Empty DataFrame
Columns: [Navn, Adresse, PersonNr, CreditCard, ipv4]
Index: []

In [11]:
for i in range(100):
    Navn = fake.name()
    Adresse = fake.address()
    PersonNr = fake.ssn()
    CreditCard = fake.credit_card_number()
    ipv4 = fake.ipv4()

    row = Navn, Adresse, PersonNr, CreditCard, ipv4
    df.loc[i] = row

In [12]:
df.head()

,Navn,Adresse,PersonNr,CreditCard,ipv4
0,Trine Jacobsen,"Strømfaret 464, 9407 Gundersen",15119326645,4087358692993363,186.209.166.64
1,Per Hansen-Bøe,"Brekkelyngen 81, 3379 Strand",24054421520,4940315368026026751,20.144.144.4
2,Vegard Johansen,"Danielsenhaugen 9, 2108 Kristofferodden",27019429895,6570366676209309,121.68.189.202
3,Simen-Roy Knutsen,"Brekkehavna 7E, 7084 Eivindborg",12127028468,2704223602434931,61.207.82.104
4,Henrik Vik,"Haugelia 697, 5312 Jacobsen",15119836430,213138740554960,4.146.77.53

2. Anonymization When a customer send your company an email that contain personal information, you could train a model to remove that data Laundromat is one package that can do that. Lets just try to remove Name and Address, since laundromat can do that "out of the box"

In [ ]:
textArray = [] #Create a empty array
# Do a for loop, and assign value to name and adress. 
row = df.iloc[i]
name = row[0]
adress = row[1]
ssn = row[2]
cc = row[3]
#Using f string we can no create a new string with the values, and append that string to the next array. 
textArray.append(f'Hi, my name is {name}. I wonder if you deliver to {adress}. My credit card number is {cc} and my ssn is {ssn}')