In [2]:
#Imports
from faker import Faker
import pandas as pd
#from laundromat.spacy.spacy_model import SpacyModel
from faker.providers.credit_card import Provider as CreditCardProvider #Add creditcards to faker

Task 1:
Create a dataframe with 100 fake persons.

In [3]:
#Create a faker with norwegian Names and structures

fake = Faker(['no_NO'])

In [5]:
#Create a empty dataframe
df = pd.DataFrame(columns=[ 'Navn', 'Adresse', 'PersonNr', 'CreditCard', 'ipv4'])

In [6]:
df.head()

Empty DataFrame
Columns: [Navn, Adresse, PersonNr, CreditCard, ipv4]
Index: []

In [7]:
for i in range(100):
    Navn = fake.name()
    Adresse = fake.address()
    PersonNr = fake.ssn()
    CreditCard = fake.credit_card_number()
    ipv4 = fake.ipv4()

    row = Navn, Adresse, PersonNr, CreditCard, ipv4
    df.loc[i] = row

In [8]:
df.head()

,Navn,Adresse,PersonNr,CreditCard,ipv4
0,Gro Haug,"Haugebakken 8, 2743 Finnvær",07090592488,343555116506287,117.109.68.48
1,Unni-Heidi Lund,"Strandmoen 83C, 5294 Haraldmark",05024010475,3512158021888905,114.16.13.214
2,Roger Simonsen,"Jacobsenskrenten 7, 6927 Sørensen",26074102041,4420030545213691458,88.103.149.41
3,Anette Myhre,"Pedersenåsen 892, 0343 Nguyen",06070379803,4188103008764328405,56.20.213.248
4,Kjetil Eriksen,"Lundhøgda 4, 7004 Solveigodden",27010277308,4719840079552140,141.246.11.153

2. Anonymization When a customer send your company an email that contain personal information, you could train a model to remove that data Laundromat is one package that can do that. Lets just try to remove Name and Address, since laundromat can do that "out of the box"

In [22]:
textArray = [] #Create a empty array
# Do a for loop, and assign value to name and adress.
# Using Laundromat on the 10 first rows, and append the result to the array.
for i in range(10):
    row = df.iloc[i] # i gets the last 'row' in the dataframe, when not in a for loop. Can change to a number to get a specific row.
    name = row[0] # sets the column to the correct value
    adress = row[1]
    ssn = row[2]
    cc = row[3]
    #Using f string we can no create a new string with the values, and append that string to the next array. 
    textArray.append(f'Hi, my name is {name}. I wonder if you deliver to {adress}. My credit card number is {cc} and my ssn is {ssn}')

In [23]:
#Print to see the result
textArray

['Hi, my name is Gro Haug. I wonder if you deliver to Haugebakken 8, 2743 Finnvær. My credit card number is 343555116506287 and my ssn is 07090592488',
 'Hi, my name is Unni-Heidi Lund. I wonder if you deliver to Strandmoen 83C, 5294 Haraldmark. My credit card number is 3512158021888905 and my ssn is 05024010475',
 'Hi, my name is Roger Simonsen. I wonder if you deliver to Jacobsenskrenten 7, 6927 Sørensen. My credit card number is 4420030545213691458 and my ssn is 26074102041',
 'Hi, my name is Anette Myhre. I wonder if you deliver to Pedersenåsen 892, 0343 Nguyen. My credit card number is 4188103008764328405 and my ssn is 06070379803',
 'Hi, my name is Kjetil Eriksen. I wonder if you deliver to Lundhøgda 4, 7004 Solveigodden. My credit card number is 4719840079552140 and my ssn is 27010277308',
 'Hi, my name is Kristine Eliassen. I wonder if you deliver to Gundersensvingen 1, 0532 Halvorsen. My credit card number is 4276610617730655 and my ssn is 11045415297',
 'Hi, my name is May Amundsen. I wonder if you deliver to Simonsenspranget 2, 6785 Marianneborg. My credit card number is 676199253177 and my ssn is 09044735692',
 'Hi, my name is Inger Johansen. I wonder if you deliver to Andreassentunet 54F, 9322 Perodden. My credit card number is 6529285645190857 and my ssn is 26037233454',
 'Hi, my name is Tone-Jorunn Sivertsen. I wonder if you deliver to Birkelandgrenda 1, 1815 Wencheås. My credit card number is 4687150120001586 and my ssn is 14035443887',
 'Hi, my name is Johannes Andersen. I wonder if you deliver to Sørensenskogen 4, 0623 Sæther. My credit card number is 3533735953565703 and my ssn is 10053732637']

# I then use more common methods to anonymize the text array
anonymizedTextArray = []  # This will store the anonymized strings

for text in textArray:  # Iterate over each string in textArray
    for index, row in df.iterrows():
        navn = row[0]
        adresse = row[1]
        text = text.replace(navn, "[NAVN]")
        text = text.replace(adresse, "[ADRESSE]")
    anonymizedTextArray.append(text)

print(anonymizedTextArray)

# This anonymized text array does not contain parts of the original array that was not identified as containing anonymous data
# ssn, credit card number and ipv4 is not anonymized here.